.cabeza{
    position: fixed;
    top:0;
    left:0;
    height:64px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #273142;
    color:#f7efd8;
}
.MenuCentro{
    margin-top: 15px;
}
.MenuList{
    list-style: none;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.ItemList{
    margin: 0 20px;
}

.MenuLink{
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #f7efd8;
    font-weight: bold;

}

.imageHome{
    padding: 40px;
    opacity:0.7;
}

.textHome1{
    padding-top: 40px;
    padding-left: 35px;
    font-size: 60px;
    font-weight: 700;
    color:  #f7efd8;
    font-family: 'Poppins', sans-serif;
}

.textHome2{
    margin-top: -40px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 24px;
    color: black;
    margin: 0 25px;
    padding-top: 15px;
}

.articleList{
    margin-left: 26px;
    display: inline-block;
    margin-top:  20px;
    list-style: none;
    background-color: #c8c8a9;
    padding-top: 20px;
    padding-right: 40px;
}

.articleListR{
    margin-left: 26px;
    display: inline-block;
    ;
    margin-top:  12px;
    list-style: none;
    background-color: #c8c8a9;
    padding-top: 34px;
    padding-right: 40px;
}

.articleListR2{
    margin-left: 26px;
    display: inline-block;

    margin-top:  12px;
    list-style: none;
    background-color: #c8c8a9;
    padding-top: 42px;
    padding-right: 40px;
}

.imageCommerceR{
    padding: 15px;
}

.textCommerce{
    margin: 0 16px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.frase_container{
    
}

.piePagina {
    padding: 3px;
    text-align: center;
    background-color: #273142;
    color: black;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    font-family: 'Poppins', sans-serif;
}