<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{style/estilosTienda.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: cabeza}"/>

        <section th:replace="~{categoria/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/> 
        <section th:replace="~{categoria/fragmentos :: listadoCategorias}"/>

        <footer th:replace="~{layout/plantilla :: piePagina}"/>
    </body>
</html>
