<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Sanrio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <br>
        <br>

        <ul class="menuList"> 
            <li> <img class="imageHome" src="imagenes/ImagenHome.jpg" width="750"/> </li>
            <li /><p class="textHome1">Bienvenidos a la <br>Tienda Sanrio</p>
            <p class="textHome2">Hogar de los exclusivos artículos de la conocida marca Sanrio en Costa Rica. <br> Podrás encontrar la mercadería de los tiernos personajes de nuestra marca <br> desde artículos para tu hogar, para el cuidado personal o hasta <br>para coleccionar los tiernos peluches de nustros personajes favoritos</p>
        </ul>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
