<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{style/estilosTienda.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: cabeza}"/>

        <br>
        <br>
            
        <div  class="introduction-container">
             <img class="imageHome" src="imagenes/ImagenHome.jpg" width="750"/> </li> 
        </div>
        
        <div class="frase_container">
            <p class="textHome1">Bienvenidos a la <br>Tienda</p>
        </div>

        <footer th:replace="~{layout/plantilla :: piePagina}"/>
    </body>
</html>
